<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zst.xposed.halo.floatingwindow"
    android:installLocation="internalOnly"
    android:versionCode="240"
    android:versionName="2.40" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.1*" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_description" />

        <activity
            android:name="com.zst.xposed.halo.floatingwindow.MainPreference"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.zst.xposed.halo.floatingwindow.FirstUseActivity"
            android:label="FirstUseActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.zst.xposed.halo.floatingwindow.preferences.BlacklistActivity"
            android:label="@string/app_blacklist" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zst.xposed.halo.floatingwindow.preferences.WhitelistActivity"
            android:label="@string/app_whitelist" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zst.xposed.halo.floatingwindow.preferences.TitleBarSettingsActivity"
            android:label="@string/pref_movable_sub_titlebar_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zst.xposed.halo.floatingwindow.preferences.StatusbarTaskbarPinAppActivity"
            android:label="@string/app_statusbar_taskbar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zst.xposed.halo.floatingwindow.TestingActivity"
            android:label="@string/app_testing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>